* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Inter";
}

body {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms;
}

a {
    text-decoration: none;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings-info {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    width: auto; 
}

.settings-back-btn {
    width: 30px;
    height: 30px;
    background: #F3F5F6;
    display: flex;    
    align-items: center;   
    justify-content: center;
    border-radius: 7px;
    padding: 0;        
    border: none;       
    cursor: pointer;     
    transition: 300ms;
    margin-right: 10px;
}

.settings-back-icon {
    display: flex;       
    align-items: center;
    justify-content: center;
    color: #1B2128;
    transition: 300ms;
}

.settings-back-icon svg {
    display: block;
}

.settings-back-btn:hover {
    background: #1B2128;
    transform: translateX(-5%);
}

.settings-back-btn:hover .settings-back-icon {
    color: #fff;
    transform: translateX(-15%);
}

.settings-title {
    font-size: 16px;
    font-weight: 600;
    color: #1B2128;
}

.settings-text {
    font-size: 13px;
    font-weight: 400;
    color: #728A96;
    margin-top: 5px;
}

.image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    margin-top: 20px;
}

.card img, 
.card canvas {
    width: 360px;
    height: 490px;
    border-radius: 22px;
    border: 2px solid #7698BB26;
    object-fit: cover;
}

.card canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
}

.active-tool {
    box-shadow: 0 0 0 3px #10A37F;
}

.tools {
    position: absolute;
    top: 39px;
    right: 17px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.tools-bg {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.2s ease;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools-bg:hover {
    background: #1B2128;
}

.tools-icon {
    width: 30px;
    height: 30px;
}

.select-btn {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #10A37F;
    border: none;
    padding: 16px;
    width: 360px;
    border-radius: 12px;
    cursor: pointer;
    transition: 300ms;
    margin-top: 20px;
}

.select-btn:hover {
    transform: translateY(-3%);
    box-shadow: 0px 5px 30px #10a37e7a;
}

.my-image {
    position: relative;
}

.anime-item {
  opacity: 0;
  visibility: hidden;
  transition: 
    opacity 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translateY(20%) scale(0.9);
}

.anime-item.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}