* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Inter";
}

body {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms;
}

a {
    text-decoration: none;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings-info {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    width: auto; 
}

.settings-back-btn {
    width: 30px;
    height: 30px;
    background: #F3F5F6;
    display: flex;    
    align-items: center;   
    justify-content: center;
    border-radius: 7px;
    padding: 0;        
    border: none;       
    cursor: pointer;     
    transition: 300ms;
    margin-right: 10px;
}

.settings-back-icon {
    display: flex;       
    align-items: center;
    justify-content: center;
    color: #1B2128;
    transition: 300ms;
}

.settings-back-icon svg {
    display: block;
}

.settings-back-btn:hover {
    background: #1B2128;
    transform: translateX(-5%);
}

.settings-back-btn:hover .settings-back-icon {
    color: #fff;
    transform: translateX(-15%);
}

.settings-title {
    font-size: 16px;
    font-weight: 600;
    color: #1B2128;
}

.settings-text {
    font-size: 13px;
    font-weight: 400;
    color: #728A96;
    margin-top: 5px;
}

.anime-item {
  opacity: 0;
  visibility: hidden;
  transition: 
    opacity 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translateY(20%) scale(0.9);
}

.anime-item.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}

.help-container {
    margin-top: 25px;
    border: 1px solid #7698BB26;
    border-radius: 12px;
    padding: 25px;
}

.help-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.help-icon {
    color: #000;
    margin-right: 10px;
}

.help-title {
    font-size: 14px;
    color: #000;
}

.help-text {
    color: #6C7F89;
    max-width: 315px;
    font-size: 12px;
    font-weight: 400;
}