* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Inter";
}

body {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

a {
    text-decoration: none;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings-info {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    width: auto; 
}

.settings-back-btn {
    width: 30px;
    height: 30px;
    background: #F3F5F6;
    display: flex;    
    align-items: center;   
    justify-content: center;
    border-radius: 7px;
    padding: 0;        
    border: none;       
    cursor: pointer;     
    transition: 300ms;
    margin-right: 10px;
}

.settings-back-icon {
    display: flex;       
    align-items: center;
    justify-content: center;
    color: #1B2128;
    transition: 300ms;
}

.settings-back-icon svg {
    display: block;
}

.settings-back-btn:hover {
    background: #1B2128;
    transform: translateX(-5%);
}

.settings-back-btn:hover .settings-back-icon {
    color: #fff;
    transform: translateX(-15%);
}

.settings-title {
    font-size: 16px;
    font-weight: 600;
    color: #1B2128;
}

.settings-text {
    font-size: 13px;
    font-weight: 400;
    color: #728A96;
    margin-top: 5px;
}

.select-gender-container {
    position: relative;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    width: 350px;
    margin-top: 20px;
    border: 1px solid #7698BB26;
    padding: 4px;
}

.gender-btn {
    position: relative;
    flex: 1;
    padding: 13px 0;
    margin: 0;
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    color: #728A96;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s ease;
    text-align: center;
}

.gender-btn.active {
    font-weight: 700;
    color: white;
}

.gender-slider {
    position: absolute;
    top: 0px;
    left: -1px;
    width: calc(50% + 0px);
    height: calc(100% + 0px);
    background: #10A37F;
    border-radius: 12px;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.select-gender-container .gender-btn:nth-child(1):not(.active):hover ~ .gender-slider {
    transform: translateX(90%) scaleX(0.95);
}

.select-gender-container .gender-btn:nth-child(2):not(.active):hover ~ .gender-slider {
    transform: translateX(calc(10% + 8px)) scaleX(0.95);
}

.select-gender-container .gender-btn:nth-child(1).active ~ .gender-slider {
    transform: translateX(0);
}

.select-gender-container .gender-btn:nth-child(2).active ~ .gender-slider {
    transform: translateX(calc(100% + 8px));
}

.sliders-container {
    margin-bottom: 30px;
}

.carousel-title {
    margin-top: 20px;
    font-size: 14px;
    color: #1B2128;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
    will-change: transform, opacity;
}

.carousel-container {
    max-width: 355px;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease;
    height: 320px;
}

.card {
    transition: transform 0.2s, opacity 0.2s;
    will-change: transform, opacity;
    transform-origin: center center;
    display: flex;
    align-items: center;
}

.card img {
    width: 150px;
    height: 270px;
    border-radius: 12px;
    cursor: pointer;
    transition: 300ms;
    object-fit: cover;
}

.card img:hover {
    transform: scale(.98);
}

.gender-slider {
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.carousel {
    transition: all 0.4s cubic-bezier(0.5, 0, 0.1, 1);
    will-change: transform, opacity;
    opacity: 1;
    transform: translateX(0);
}

.gender-btn {
    transition: all 0.2s ease;
}

.gender-btn.active {
    color: white;
    font-weight: bold;
}

.carousel-title, .carousel {
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    will-change: transform, opacity;
}

.card {
    transition: transform 0.3s ease;
}

.anime-item {
  opacity: 0;
  visibility: hidden;
  transition: 
    opacity 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translateY(20%) scale(0.9);
}

.anime-item.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}